$primary-color: #39b54a !important;

.warp-allowance-page {
  .page-content {
    padding-top: 3rem;

    .container-fluid {
      display: flex;
      flex-direction: column;
      .head-content {
        h1.name-header {
          font-family: $font-header;
        }

        .title-about {
          display: flex;
          flex-direction: column;
          align-items: center;
          h6 {
            margin-top: 0.5rem;
            color: $font-text-sub;
            font-style: italic;
          }
        }
      }
      .detail-content {
        display: flex;
        justify-content: center;
        // align-items: center;
        margin: 2rem 3rem;

        @media (max-width: 575.98px) {
          margin-top: 1rem !important;
          flex-direction: column;
          margin: 0 1rem;
        }
        img {
          height: 20rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
          @media (max-width: 575.98px) {
            margin-right: 0;
            height: 18rem;
          }
        }

        .data-detail-content {
          width: 50%;
          margin-left: 2rem;
          display: flex;
          align-items: center;
          flex-direction: column;

          @media (max-width: 575.98px) {
            width: 100%;
            margin-top: 1rem;
            margin-left: 0;
          }

          .title-content {
            padding: 0 3rem;
            margin-bottom: 1rem;

            @media (max-width: 768px) {
              padding: 0;
            }

            .header-title-content {
              margin-top: 1rem;
              font-weight: bold !important;
            }

            .sub-title-content {
              margin-left: 1rem;

              .sub-content {
                margin-left: 1rem;
              }
            }

            h6 {
              text-align: start;
              opacity: 0.8;
              margin-bottom: 0.5rem !important;
              font-weight: lighter;
            }
          }
          .more-content {
            padding: 0 3rem;
            display: flex;

            h6 {
              margin-top: 1rem;
              font-weight: bold;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .ant-steps {
    width: 50%;
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: $primary-color;
  }
  .ant-steps-item-title {
    display: flex;
    flex-direction: column;
    user-select: none;

    .ant-steps-item-subtitle {
      margin-left: 0;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  //Icon
  .ant-steps-item-process {
    .ant-steps-item-icon {
      background: $primary-color;
      border-color: $primary-color;
    }
  }

  .ant-steps-item-finish {
    .ant-steps-item-icon {
      border-color: $primary-color;
    }
    .ant-steps-item-icon > .ant-steps-icon {
      color: $primary-color;
    }
  }

  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-icon {
    border-color: $primary-color;
  }

  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-icon
    .ant-steps-icon {
    color: $primary-color;
  }

  .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
    height: 2rem;
    background: $primary-color;
    @media (max-width: 575.98px) {
      height: inherit;
    }
  }

  //Content
  .ant-steps-item-content {
    outline: none;
    margin-bottom: 1rem;
  }

  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-title,
  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-subtitle,
  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-description {
    color: $primary-color;
  }

  //Min
  .ant-steps-item-title {
    @media (max-width: 575.98px) {
      width: 30rem;
    }
  }
  .ant-steps-item-container {
    @media (max-width: 575.98px) {
      display: flex;
      width: 20rem;
    }
  }

  .ant-steps-item-content {
    @media (max-width: 575.98px) {
      display: flex;
      margin: 0;
      width: 20rem;
    }
  }
}
