.warp-allowance-page {
    .page-content {
      padding-top: 3rem;
  
      .container-fluid {
        display: flex;
        flex-direction: column;
        .head-content {
          h1.name-header {
            font-family: $font-header;
          }
  
          .title-about {
            display: flex;
            flex-direction: column;
            align-items: center;
            h6 {
              margin-top: 0.5rem;
              color: $font-text-sub;
              font-style: italic;
            }
          }
        }
        .detail-content {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2rem 3rem;
  
          @media (max-width: 575.98px) {
            flex-direction: column;
          }
          img {
            height: 20rem;
            margin-right: 1rem;
            @media (max-width: 575.98px) {
              margin-right: 0;
              height: 18rem;
            }
          }
  
          .data-detail-content {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
  
            @media (max-width: 575.98px) {
              margin-top: 1rem;
            }
  
            .title-content {
              padding: 0 3rem;
              margin-bottom: 1rem;
  
              @media (max-width: 768px) {
                padding: 0;
              }
  
              .header-title-content {
                font-weight: bold !important;
              }
  
              .sub-title-content {
                margin-left: 1rem;
              }
  
              h6 {
                text-align: start;
                opacity: 0.8;
                margin-bottom: 0.5rem !important;
                font-weight: lighter;
              }
            }
            .more-content {
              padding: 0 3rem;
              display: flex;
  
              h6 {
                margin-top: 1rem;
                font-weight: bold;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }