.page-content-contact {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;

  .warp-card-contact {
    width: 40%;
    margin: 1rem 0;
    .card-contact {
      width: 100%;
      min-height: 15vh;
      height: auto;
      border-radius: 1rem;
      border: 1px solid #03a9f4;
      background-color: white;
      .contact {
        display: flex;
        margin: 1rem;
        width: auto;

        .contact-img {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          width: 20%;
          background-color: white;
          display: flex;
          justify-content: center;
          img {
            width: 4rem;
            height: 4rem;
          }
        }

        .contact-data {
          width: 60%;
          margin-left: 1rem;
          h4 {
            text-align: start;
          }

          h6 {
            text-align: start;
            margin-bottom: 0 !important;
          }
          .rs-tag-group {
            padding: 0.5rem 0;
          }

          @media (max-width: 575.98px) {
            width: 100%;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        .contact-icon {
          width: 20%;
        }

        @media (max-width: 575.98px) {
          flex-direction: column;
          align-items: center;
        }
      }
      @media (max-width: 1024px) {
        min-height: 10vh !important;
      }

    }

    @media (max-width: 1199.98px) {
      width: 70%;
    }

    @media (max-width: 575.98px) {
      width: 100% !important;
    }
  }

  .timeline-contact {
    width: 60%;
    height: 10vh;
    padding: 0 2rem 1rem 1rem;
    .rs-carousel {
      height: 40vh;
    }

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  @media (max-width: 1199.98px) {
    justify-content: center;
    align-items: center;
  }
}
