$primary-color: #39b54a !important;
$bg-color: #f0f2f5 !important;

.warp-contact-page {
    width: 100%;
    height: 100vh;
    // background: $bg-color;

    .page-content {
        padding-top: 3rem;

        .container-fluid {
            display: flex;
            flex-direction: column;
            .head-content {
                h1.name-header {
                    font-family: $font-header;
                }

                .title-about {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h6 {
                        margin-top: 0.5rem;
                        color: $font-text-sub;
                        font-style: italic;
                    }
                }
            }
            .detail-content {
                display: flex;
                flex-direction: column;
                margin: 2rem 3rem;

                @media (max-width: 575.98px) {
                    margin: 0;
                }

                .data-detail-content {
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 2rem;

                    @media (max-width: 768px) {
                        flex-direction: column;
                        align-items: center;
                        // margin-top: 1rem;
                    }

                    .title-content {
                        padding: 0 3rem;

                        @media (max-width: 768px) {
                            padding: 0;
                        }

                        .header-title-content {
                            font-weight: bold !important;
                        }

                        .sub-title-content {
                            margin-left: 1rem;
                        }

                        h6 {
                            text-align: start;
                            opacity: 0.8;
                            margin-bottom: 0.5rem !important;
                            font-weight: lighter;
                        }
                    }
                    .more-content {
                        padding: 0 3rem;
                        display: flex;

                        h6 {
                            margin-top: 1rem;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .ant-card-actions > li {
        display: flex;
        justify-content: center;
    }
    .ant-card-actions > li:not(:last-child) {
        border-right: none;
    }
    .ant-skeleton-content .ant-skeleton-paragraph > li + li {
        margin-top: 0;
    }

    // .ant-card-actions > li > span a:not(.ant-btn):hover,
    // .ant-card-actions > li > span > .anticon:hover {
    //     color: $primary-color;
    // }

    // .ant-card {
    //     border-radius: 1rem;
    // }

    // .ant-card-bordered {
    //     border-color: $primary-color;
    // }
    // .ant-card-actions {
    //     border-top: 1px solid $primary-color;
    //     border-radius: 0 0 1rem 1rem;
    // }
    .ant-card-bordered {
        @media (max-width: 1024px) {
            margin: 1rem;
        }
    }
}
