.warp-detail {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #f3f5f7;
  
    .page-detail {
      padding: 2rem 1rem 0 1rem !important;
  
      .container-detail {
        border-radius: 1rem;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
  
        .item-header {
          width: 50rem;
          padding: 3rem 0;
        }
  
        .btn-close {
          width: 3rem;
          padding: 1rem;
          .close {
            font-size: 2rem;
            span {
              user-select: none;
            }
          }
  
          .close:focus {
            outline: none;
          }
        }
      }
  
      .container-fluid {
        display: flex;
        justify-content: center;
      }
    }
  }
  
  .page-content-detail {
    display: flex;
    width: 100%;
    min-height: 30vh;
    height: auto;
    position: relative;
    .container-fluid {
      text-align: center;
      margin-top: 2rem;
      padding-right: 10px;
      padding-left: 10px;
  
      @media (max-width: 1024px) {
        flex-direction: column !important;
      }
  
      h2 {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
      }
      .textarea-center {
        margin: 1rem 2rem;
        text-align: center;
  
        text {
          margin: 0.7rem 0;
          color: black !important;
        }
      }
  
      .warp-card {
        .card-group {
          .card {
            box-shadow: 0 0 0 0 !important;
            align-items: center;
  
            img {
              width: 20rem;
              height: 10rem;
  
              @media (max-width: 991.98px) {
                width: 4rem;
                height: 4rem;
              }
            }

            .card-body{
                text-align: center;

                .card-title{
                    text-align: center;
                }
            }
          }
  
          .card:hover {
            box-shadow: 0 0 0 0 !important;
          }
        }
      }
    }
  
    .container-fluid.non {
      .non {
        display: none;
      }
    }
  }
  
  
  