$margin-rs-steps: 2rem;
$font-rs-title: 1.2rem;
$font-rs-description: 1rem;

.page-content-services {
    display: flex;
    margin: 3rem 1rem;
  
    .rs-btn-group {
      margin: 1rem 0.5rem 2rem 0.5rem;
    }
  
    .normal {
      width: 50%;
      .rs-steps.rs-steps-vertical {
        display: contents !important;
  
        .rs-steps-item-title {
          font-size: $font-rs-title;
        }
  
        .rs-steps-item-description {
          font-size: $font-rs-description;
        }
  
        .rs-steps-item.rs-steps-item-status-wait {
          margin-left: $margin-rs-steps;
        }
  
        .rs-steps-item.rs-steps-item-status-process {
          margin-left: $margin-rs-steps;
        }
  
        .rs-steps-item.rs-steps-item-status-finish {
          margin-left: $margin-rs-steps;
        }
      }
      @media (max-width: 1023px) {
        display: none !important;
      }
    }
  
    .normal-message {
      margin-top: 3rem;
      width: 50%;
  
      .rs-message {
        border-radius: 1rem;
        padding: 1rem;
      }
  
      h5.rs-message-header {
        text-align: start;
        font-size: $font-rs-title !important;
      }
  
      .rs-message-body {
        p {
          color: black;
          p {
            line-height: 1.5rem;
            font-size: 0.7rem !important;
            color: red;
          }
          h4,
          h5 {
            text-align: start;
            font-weight: 300;
          }
        }
  
        a {
          margin-right: 0.5rem;
          text-decoration: none !important;
        }
      }
  
      @media (max-width: 1023px) {
        display: none;
      }
    }
  
    .mobile {
      display: none;
      @media (max-width: 1023px) {
        display: block;
      }
  
      .rs-steps.rs-steps-vertical {
        width: 100% !important;
      }
    }
  
    .mobile-message {
      display: none;
      @media (max-width: 1023px) {
        display: block;
        width: 100%;
        margin-top: 3rem;
        .rs-message {
          border-radius: 1rem;
          padding: 1rem;
        }
  
        h5.rs-message-header {
          text-align: start;
          font-size: $font-rs-title !important;
        }
  
        .rs-message-body {
          p {
            color: black;
            p {
              line-height: 1.5rem;
              font-size: 0.7rem !important;
              color: red;
            }
            h4,
            h5 {
              text-align: start;
              font-weight: 300;
            }
          }
  
          a {
            margin-right: 0.5rem;
            text-decoration: none !important;
          }
        }
      }
    }
  
    @media (max-width: 1023px) {
      display: block;
    }
  }
  