.warp-society-page {
  .page-content {
    padding-top: 3rem;

    .container-fluid {
      display: flex;
      flex-direction: column;
      .head-content {
        h3 {
          font-size: 2rem !important;
          margin-bottom: 1rem !important;
        }
      }
      .detail-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 3rem;

        @media (max-width: 575.98px) {
          flex-direction: column;
        }
        img {
          height: 20rem;
          margin-right: 1rem;
          @media (max-width: 575.98px) {
            margin-right: 0;
            height: 18rem;
          }
        }

        .data-detail-content {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;

          @media (max-width: 575.98px) {
            margin-top: 1rem;
          }

          .title-content {
            padding: 0 3rem;
            margin-bottom: 1rem;

            @media (max-width: 768px) {
              padding: 0;
            }
            
            h5{
              text-align: start;
              font-weight: lighter !important;
            }

            .header-title-content {
              display: flex;
              h6 {
                font-weight: bold !important;
              }
              h5 {
                font-size: 1rem !important;
                margin-left: 1rem;
                opacity: 0.8;
                margin-bottom: 0.5rem !important;
                font-weight: lighter;
              }
            }

            h6 {
              text-align: start;
              opacity: 0.8;
              margin-bottom: 0.5rem !important;
              font-weight: lighter;
            }
          }
        }
      }
    }
  }
}
