nav {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 0.5rem 0;
  box-shadow: 0 0 2rem 0 rgba(53, 64, 82, 0.1); }
  nav img {
    width: 4rem;
    height: 3rem;
    margin: 1rem 1rem 0 1.2rem; }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 10px; }
    nav ul .warp-manu {
      display: flex;
      flex-direction: row; }
      nav ul .warp-manu li {
        cursor: pointer;
        display: flex; }
        nav ul .warp-manu li p {
          color: black; }
        nav ul .warp-manu li p:hover {
          color: #bedadc; }
    nav ul p {
      cursor: pointer;
      color: #03a9f4;
      margin: 0.5rem 0.5rem; }
  nav .warp-back {
    display: flex;
    width: 100%; }
    nav .warp-back ul {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 10px; }
      nav .warp-back ul .back {
        display: flex;
        flex-direction: row; }
        nav .warp-back ul .back li {
          cursor: pointer;
          display: flex;
          padding: 3px 10px; }
          nav .warp-back ul .back li p {
            color: black;
            margin: 0.5rem 0.5rem; }
          nav .warp-back ul .back li p:hover {
            color: #bedadc;
            margin: 0.5rem 0.5rem; }

.warp-cover {
  width: 100%;
  display: flex;
  justify-content: center; }
  .warp-cover .warp-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 3rem; }
    .warp-cover .warp-text button {
      margin: 1.5rem;
      background-color: #ffe8fc;
      border: 1px solid;
      padding: 1rem;
      border-radius: 1rem; }
      .warp-cover .warp-text button .btn {
        font-size: 1.5rem; }
  .warp-cover .cover {
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 0.3rem;
    flex-direction: row;
    background-image: linear-gradient(to right top, #ffe8fc, #feeafd, #f6e9ff, #f5e9ff, #f1e6ff); }
    .warp-cover .cover img {
      width: 50rem;
      margin-top: 10rem; }

.warp {
  width: 100%;
  position: relative;
  text-align: center; }
  .warp .warp-bg {
    width: 100%;
    display: flex;
    margin-top: -1rem;
    margin-bottom: 27rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .warp .warp-bg img {
      width: 100%;
      height: 25rem;
      position: absolute;
      top: 0.5rem;
      left: 0; }
    .warp .warp-bg img:nth-of-type(1) {
      animation: fadeInOut 8s linear 6s infinite; }
    .warp .warp-bg img:nth-of-type(2) {
      animation: fadeInOut 8s linear 4s infinite; }
    .warp .warp-bg img:nth-of-type(3) {
      animation: fadeInOut 8s linear 2s infinite; }
    .warp .warp-bg img:nth-of-type(4) {
      animation: fadeInOut 8s linear 0s infinite; }

@keyframes fadeInOut {
  0% {
    opacity: 1; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  92% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .warp .warp-bg .warp-text {
      width: 80%;
      display: flex;
      justify-content: center;
      position: absolute;
      background-color: white;
      border-radius: 1rem;
      opacity: 0.7;
      margin: 10rem 0; }
      .warp .warp-bg .warp-text .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }

.warp-content {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem; }
  .warp-content .content {
    width: 100%;
    margin-top: 2rem; }
    .warp-content .content text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }

.warp-index {
  height: 100vh;
  background-color: #F5F9FC; }
  .warp-index .content-index {
    width: 100%;
    margin-top: 4rem; }
    @media (max-width: 575.98px) {
      .warp-index .content-index {
        margin-top: 1rem !important; } }

.warp-chart {
  display: flex !important;
  justify-content: center !important;
  margin: 4rem !important; }
  @media (max-width: 991.98px) {
    .warp-chart {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      margin: 2rem !important; } }
  .warp-chart .chart {
    margin: 0 2rem;
    user-select: none; }
    @media (max-width: 780px) {
      .warp-chart .chart {
        margin: 2rem; } }
    @media (max-width: 575.98px) {
      .warp-chart .chart {
        display: none; } }
    .warp-chart .chart .recharts-wrapper {
      cursor: pointer !important; }

.warp-about .content-about {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 1rem; }
  .warp-about .content-about .content {
    display: flex;
    flex-direction: column;
    align-items: center; }

.warp-about .about-chart {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .warp-about .about-chart .chart {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }

.warp-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem; }

.warp-menu {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center; }
  .warp-menu .menu {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 0;
    margin: 1.5rem 0; }
    @media (max-width: 991.98px) {
      .warp-menu .menu {
        padding: 1rem !important; } }
    .warp-menu .menu .warp-icon {
      width: 100%;
      display: flex;
      justify-content: center;
      border: 1px solid #03a9f4;
      border-radius: 0.5rem;
      margin: 0 1rem;
      background-color: white;
      padding: 0.5rem 0; }
      .warp-menu .menu .warp-icon .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5rem; }
        @media (max-width: 991.98px) {
          .warp-menu .menu .warp-icon .icon {
            padding: 0 !important;
            margin: 0 1.5rem !important; } }
        @media (max-width: 1199.98px) {
          .warp-menu .menu .warp-icon .icon {
            margin: 0 2rem; } }
        .warp-menu .menu .warp-icon .icon .icon-img img {
          width: 3rem;
          height: 3rem;
          margin: 1rem; }
        .warp-menu .menu .warp-icon .icon .icon-img img.hover {
          display: none; }
        .warp-menu .menu .warp-icon .icon .icon-img:hover {
          background-color: #bedadc;
          box-shadow: 4px 4px 22px -5px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 4px 4px 22px -5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 4px 4px 22px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 4px 22px -5px rgba(0, 0, 0, 0.75);
          border-radius: 50%; }
          .warp-menu .menu .warp-icon .icon .icon-img:hover img.hover {
            display: inherit !important; }
          .warp-menu .menu .warp-icon .icon .icon-img:hover img {
            display: none !important; }

.warp-card {
  display: flex;
  justify-content: center;
  margin: 0 1.5rem; }
  @media (max-width: 575.98px) {
    .warp-card {
      display: flex;
      flex-direction: column !important;
      align-items: center !important; } }
  .warp-card .card {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, 0.05); }
    @media (max-width: 575.98px) {
      .warp-card .card {
        margin-top: 1rem !important; } }
    .warp-card .card .card-img {
      width: 50%;
      margin: 0.5rem;
      display: flex;
      justify-content: center;
      cursor: pointer; }
      .warp-card .card .card-img img {
        width: 5rem;
        height: 5rem; }
        @media (max-width: 1199.98px) {
          .warp-card .card .card-img img {
            width: 4rem !important;
            height: 4rem !important; } }
    .warp-card .card .card-conten {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }

.card-chart {
  display: flex;
  justify-content: center; }

.warp {
  width: 100%; }

h1 {
  color: black;
  font-size: 3rem !important;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Prompt", sans-serif;
  padding: 0.5rem; }
  @media (max-width: 1199.98px) {
    h1 {
      font-size: 2rem !important; } }
  @media (max-width: 991.98px) {
    h1 {
      font-size: 1.5rem !important; } }

h2 {
  color: black;
  font-size: 2rem !important;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin-bottom: 0;
  padding: 0.5rem; }

h3 {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin: 0.5rem; }

h5 {
  color: black;
  font-size: 1.5rem !important;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin-bottom: 0; }
  @media (max-width: 991.98px) {
    h5 {
      font-size: 1rem !important; } }

h6 {
  color: black;
  font-size: 1rem !important;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin-bottom: 0;
  padding: 0 2rem; }
  @media (max-width: 1199.98px) {
    h6 {
      padding: 0; } }

p {
  font-family: "Prompt", sans-serif;
  user-select: none; }

text {
  font-family: "Prompt", sans-serif;
  color: gray;
  margin: 1rem 0 !important;
  font-size: 1.2rem; }

a {
  color: black; }

a:hover {
  text-decoration-line: none !important; }

tspan {
  font-family: "Prompt", sans-serif !important; }

span {
  font-family: "Prompt", sans-serif !important; }

img {
  user-select: none; }


/*# sourceMappingURL=styles.chunk.css.map*/