nav {
  display: flex;
  width: 100%; }
  nav img {
    width: 4rem;
    height: 3rem;
    margin: 1rem 1rem 0 1.2rem; }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 10px; }
    nav ul .warp-manu {
      display: flex;
      flex-direction: row;
      margin-top: 0.5rem; }
      nav ul .warp-manu li {
        cursor: pointer;
        display: flex;
        padding: 3px 10px; }
        nav ul .warp-manu li p {
          color: black;
          padding: 0.5rem;
          margin: 0.5rem 0.5rem; }
        nav ul .warp-manu li p:hover {
          color: #bedadc;
          padding: 0.5rem;
          margin: 0.5rem 0.5rem; }
    nav ul p {
      cursor: pointer;
      color: #03a9f4;
      padding-top: 1.1rem;
      padding: 0.5rem;
      margin: 0.6rem 0.5rem; }
  nav .warp-back {
    display: flex;
    width: 100%; }
    nav .warp-back ul {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 10px; }
      nav .warp-back ul .back {
        display: flex;
        flex-direction: row; }
        nav .warp-back ul .back li {
          cursor: pointer;
          display: flex;
          padding: 3px 10px; }
          nav .warp-back ul .back li p {
            color: black;
            margin: 0.5rem 0.5rem; }
          nav .warp-back ul .back li p:hover {
            color: #bedadc;
            margin: 0.5rem 0.5rem; }

.warp-cover {
  width: 100%;
  display: flex;
  justify-content: center; }
  .warp-cover .warp-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 3rem; }
    .warp-cover .warp-text button {
      margin: 1.5rem;
      background-color: #ffe8fc;
      border: 1px solid;
      padding: 1rem;
      border-radius: 1rem; }
      .warp-cover .warp-text button .btn {
        font-size: 1.5rem; }
  .warp-cover .cover {
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 0.3rem;
    flex-direction: row;
    background-image: linear-gradient(to right top, #ffe8fc, #feeafd, #f6e9ff, #f5e9ff, #f1e6ff); }
    .warp-cover .cover img {
      width: 50rem;
      margin-top: 10rem; }

.warp {
  width: 100%;
  position: relative;
  text-align: center; }
  .warp .warp-bg {
    width: 100%;
    display: flex;
    margin-bottom: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .warp .warp-bg img {
      width: 100%;
      height: 50rem;
      position: absolute;
      top: 0.5rem;
      left: 0; }
    .warp .warp-bg img:nth-of-type(1) {
      animation: fadeInOut 8s linear 6s infinite; }
    .warp .warp-bg img:nth-of-type(2) {
      animation: fadeInOut 8s linear 4s infinite; }
    .warp .warp-bg img:nth-of-type(3) {
      animation: fadeInOut 8s linear 2s infinite; }
    .warp .warp-bg img:nth-of-type(4) {
      animation: fadeInOut 8s linear 0s infinite; }

@keyframes fadeInOut {
  0% {
    opacity: 1; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  92% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .warp .warp-bg .warp-text {
      width: 100%;
      display: flex;
      position: absolute;
      margin: 20rem 0; }
      .warp .warp-bg .warp-text .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .warp .warp-bg .warp-text .text .btn {
          background-color: #cde4f4 !important;
          border: 1px solid #adb4bc;
          border-radius: 1rem;
          margin-top: 1.5rem;
          box-shadow: 3px 4px 14px -6px;
          -webkit-box-shadow: 3px 4px 14px -6px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 3px 4px 14px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 14px -6px rgba(0, 0, 0, 0.75); }
        .warp .warp-bg .warp-text .text .btn:hover {
          box-shadow: 3px 4px 14px -10px; }

.warp-content {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem; }
  .warp-content .content {
    width: 100%;
    margin-top: 2rem; }
    .warp-content .content text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }

.warp-menu {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem; }
  .warp-menu .menu {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    border: 1px solid #03a9f4;
    padding: 0;
    margin: 1.5rem 0; }
    @media (max-width: 991.98px) {
      .warp-menu .menu {
        padding: 1rem !important; } }
    .warp-menu .menu .warp-icon {
      display: flex; }
      .warp-menu .menu .warp-icon .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
        padding: 1rem; }
        @media (max-width: 991.98px) {
          .warp-menu .menu .warp-icon .icon {
            padding: 0 !important;
            margin: 0 1.5rem !important; } }
        @media (max-width: 1199.98px) {
          .warp-menu .menu .warp-icon .icon {
            margin: 0 2rem; } }
        .warp-menu .menu .warp-icon .icon .icon-img img {
          width: 3rem;
          height: 3rem;
          margin: 1rem; }
        .warp-menu .menu .warp-icon .icon .icon-img img.hover {
          display: none; }
        .warp-menu .menu .warp-icon .icon .icon-img:hover {
          background-color: #bedadc;
          border-radius: 50%; }
          .warp-menu .menu .warp-icon .icon .icon-img:hover img.hover {
            display: inherit !important; }
          .warp-menu .menu .warp-icon .icon .icon-img:hover img {
            display: none !important; }

.warp-chart {
  display: flex !important;
  justify-content: center !important;
  margin: 2rem !important; }
  .warp-chart .recharts-wrapper {
    width: 100% !important; }
    .warp-chart .recharts-wrapper .recharts-surface {
      width: 100% !important; }

.warp-about .carousel {
  height: 40rem !important; }
  .warp-about .carousel .carousel-indicators {
    margin-bottom: 1rem; }
  .warp-about .carousel .carousel-inner {
    height: 40rem; }
    .warp-about .carousel .carousel-inner .carousel-item {
      height: 40rem !important; }
      .warp-about .carousel .carousel-inner .carousel-item img {
        width: 100%;
        height: 50rem; }
    .warp-about .carousel .carousel-inner .carousel-item.active {
      height: 40rem !important; }
      .warp-about .carousel .carousel-inner .carousel-item.active img {
        width: 100%;
        height: 50rem; }
      .warp-about .carousel .carousel-inner .carousel-item.active .carousel-caption {
        margin: 15rem 0;
        padding: 3rem 0;
        background-color: gray;
        opacity: 0.8;
        border-radius: 1rem; }

.content-about {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 1rem; }
  .content-about .content {
    display: flex;
    flex-direction: column;
    align-items: center; }

.about-chart {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .about-chart .chart {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }

.warp-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem; }

.warp {
  width: 100%; }

h1 {
  color: black;
  font-size: 4rem !important;
  text-align: center;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Prompt", sans-serif;
  padding: 0.5rem; }
  @media (max-width: 1199.98px) {
    h1 {
      font-size: 3rem !important; } }

h2 {
  color: black;
  font-size: 2rem !important;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin-bottom: 0;
  padding: 0.5rem; }

h3 {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin: 0.5rem; }

h5 {
  color: black;
  font-size: 1.5rem !important;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin-bottom: 0.5rem;
  padding: 0 5rem; }

h6 {
  color: black;
  font-size: 1rem !important;
  text-align: center;
  font-family: "Prompt", sans-serif;
  margin-bottom: 0;
  padding: 0 5rem; }
  @media (max-width: 1199.98px) {
    h6 {
      padding: 0; } }

p {
  font-family: "Prompt", sans-serif; }

text {
  font-family: "Prompt", sans-serif;
  color: gray;
  margin: 1rem 0 !important;
  font-size: 1.2rem; }

a {
  color: black; }

a:hover {
  text-decoration-line: none !important; }

tspan {
  font-family: "Prompt", sans-serif !important; }

span {
  font-family: "Prompt", sans-serif !important; }


/*# sourceMappingURL=styles.chunk.css.map*/