.warp-bar{
    width: 100%;
    height: 100vh;
}

.warp-content{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    
    .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem ;
    }
}

.service-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5rem 0;

    .content{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        h6{
            text-align: start;
            margin: 1rem;
        }

    }
}
