.warp-bar{
    width: 100%;
    height: auto !important;
    min-height: 100vh;
    background-color: #F5F9FC;
}

.warp-content{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    
    .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem ;
    }
}
