@import './card.scss';
@import './chart.scss';
@import './hamburgers.scss';
@import './index.scss';
@import './main.scss';
@import './menu-icon.scss';
@import './nav.scss';
@import './sidebar.scss';
@import './detail.scss';


$font : 'Prompt', sans-serif ;


body{
    font-family: $font;
}

.warp{
    width: 100%;
}


h1{
    color: black;
    font-size: 3rem !important;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.5rem;

    @media (max-width: 1199.98px) {
        font-size: 2rem !important;
    }

    @media (max-width: 991.98px) {
        font-size: 1.5rem !important;
    }
   
}

h2{
    color: black;
    font-size: 2rem !important;
    text-align: center;
    margin-bottom: 0;
    padding: 0.5rem;

    @media (max-width: 1199.98px) {
        font-size: 1.5rem !important;
    }

    @media (max-width: 991.98px) {
        font-size: 1rem !important;
    }

}

h3{
    color: black;
    font-size: 1.75rem;
    text-align: center;
    margin: 0.5rem;
  
}

h4{
    color: black;
    font-size: 1.5rem ;
    text-align: center;
    margin: 0.5rem;
}

h5{
    color: black;
    font-size: 1rem !important;
    text-align: center;
    margin-bottom: 0.5rem;

 
    
}

h6{
    color: black;
    font-size: 1rem !important;
    text-align: center;
    margin-bottom: 1rem !important;

}

p{
    user-select: none;
    font-size: 1rem !important;
    color: gray;

    @media (max-width: 991.98px) {
        font-size: 0.75rem !important;
    }

}

text{
    color: gray;
    margin: 0.7rem 0 !important;
    font-size: 1rem;

    @media (max-width: 991.98px) {
        font-size: 0.7rem !important;
    }
}

a{
    color: black;
}

a:hover {
        text-decoration-line: none !important;
    }


img{
    user-select: none;
}

ul{
    margin-block-end:0;
    padding-inline-start: 0.5rem !important;
    padding-inline-end: 0.5rem !important;
}

.btn-outline-center{
    margin: 2rem 1rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-outline-center:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
