@import "./nav.scss";
@import "./index.scss";
@import "./cover.scss";
@import "./about.scss";
@import "./agency.scss";
@import "./info.scss";
@import "./footer.scss";

//Index
@import "./index/society.scss";
@import "./index/allowance.scss";
@import "./index/contact.scss";

//Main
@import "./dashboard.scss";
@import "./main.scss";
@import "./chart.scss";
@import "./hamburgers.scss";

@import "./sidebar.scss";
@import "./map.scss";

//Other
@import "./error.scss";
@import "./empty.scss";

$font: "Prompt", sans-serif;

body {
  font-family: $font !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  text {
    user-select: none;
    font-family: $font !important;
    color: black !important;
  }
}

h1 {
  font-size: 2.5rem !important;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem;
  margin-bottom: 0 !important;

  @media (max-width: 1199.98px) {
    font-size: 2rem !important;
  }

  @media (max-width: 991.98px) {
    font-size: 1.5rem !important;
  }
}

h2 {
  font-size: 1.5rem !important;
  text-align: center;
  margin-bottom: 0 !important;
  padding: 0.5rem;

  @media (max-width: 1199.98px) {
    font-size: 1.5rem !important;
  }

  @media (max-width: 991.98px) {
    font-size: 1rem !important;
  }
}

h3 {
  font-size: 1.75rem;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
}

h5 {
  font-size: 1rem !important;
  text-align: center;
}

h6 {
  font-size: 1rem !important;
  text-align: center;
}

p {
  user-select: none;
  font-size: 1rem !important;
}

text {
  font-size: 1rem;

  @media (max-width: 991.98px) {
    font-size: 0.9rem !important;
  }
}

a:hover {
  text-decoration-line: none !important;
}

img {
  user-select: none;
}

ul {
  margin-left: 1rem;
  margin-bottom: 0 !important;
  margin-block-end: 0;
  padding-inline-start: 0.5rem !important;
  padding-inline-end: 0.5rem !important;
}
