@import './nav.scss';
@import './cover.scss';
@import './index.scss';
@import './chart.scss';
@import './bar.scss';
@import './menu-icon.scss';
@import './card.scss';
@import './main.scss';
@import './department.scss';
@import './service.scss';
@import './load.scss';
@import './sidebar.scss';
@import './hamburgers.scss';

$font : 'Prompt', sans-serif ;


body{
    font-family: $font;
}

.warp{
    width: 100%;
}


h1{
    color: black;
    font-size: 3rem !important;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.5rem;

    @media (max-width: 1199.98px) {
        font-size: 2rem !important;
    }

    @media (max-width: 991.98px) {
        font-size: 1.5rem !important;
    }

   
}

h2{
    color: black;
    font-size: 2rem !important;
    text-align: center;
    margin-bottom: 0;
    padding: 0.5rem;
}

h3{
    color: black;
    //font-size: 1.75rem !important;
    font-size: 2.5rem;
    text-align: center;
    margin: 0.5rem;
   
}

h4{
    color: black;
    font-size: 1.75rem ;
    text-align: center;
    margin: 0.5rem;
   
}

h5{
    color: black;
    font-size: 1.5rem !important;
    text-align: center;
    margin-bottom: 0.5rem;

    @media (max-width: 991.98px) {
        font-size: 1rem !important;
    }
    
}

h6{
    color: black;
    font-size: 1rem !important;
    text-align: center;
    margin-bottom: 1rem !important;

    
}

p{
    user-select: none;
    font-size: 0.9rem !important;
    color: gray;

}

text{
    color: gray;
    margin: 0.5rem 0 !important;
    font-size: 1.2rem;
}

a{
    color: black;
}

a:hover {
        text-decoration-line: none !important;
    }


img{
    user-select: none;
}
