    .card-chart{
      
        display: flex;
        justify-content: center;
     
    }

    .card-contents-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        .warp-card{
            .card-group{
                width: auto;
            }
        }
    }

    .card-contents-row{
        display: flex;
        justify-content: center;
        margin: 1rem;
        .warp-card{
            .card-group{
                width: auto;
            }
        }
    }

//Card
.warp-card{
    margin: 1rem;
    display: flex;
    justify-content: center;

    .card-group{
        width: 50%;
        padding: 0 1rem;
        margin: 0 1rem;


        @media screen and (max-width: 600px) {
            .card-group {
              width: 100%;
              display: block;
              margin-bottom: 20px;
            }
          }

        .card {
            display: flex;
            justify-content: center;
            border-radius: 1rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 1rem;
            text-align: center;
            background-color: white;
            cursor: pointer;

            img{
                margin: 0.5rem;
                width: 5rem;
                height: 5rem;
                cursor: pointer;
            }

            .card-data{
                display: flex;

                @media (max-width: 1199.98px) {
                    flex-direction: column;
                    align-items: center;
                }

                img{
                    margin: 0.5rem;
                    width: 5rem;
                    height: 5rem;
                    cursor: pointer;
                }
                .card-text{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin: 0.5rem;

                    @media (max-width: 1199.98px) {
                        align-items: center;
                    }

                }
               
            }
          }

            .card:hover{
                box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, 0.05);
            }
    }

    
}

.warp-card:after {
    content: "";
    display: table;
    clear: both;
  }

  

