

.warp-card{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    .card{
        width: 90%;
        margin: 0.5rem;
        padding: 1rem 0 5rem;
        display: flex;
        flex-direction: row !important;
        border-radius: 0.5rem;
        
      
        .card-img{
            display: flex;
            justify-content: center;
            width:10rem;
            padding: 0.5rem;
            position: relative;
            top: -3rem;
            background-color: bisque;
            left: 0.5rem;

            img{
                width: 5rem;
            }
        }

        .card-text{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0 0.5rem;
          
        }

        
        }
    }
    .card-chart{
        display: flex;
        flex-direction: column;
        align-items: center;

        .chart{
            width: 50%;
            display: flex;
            justify-content: center;
        }
}