//Main
.warp-card{
    height: 20vh;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
    margin-bottom: 3rem;
    @media (max-width: 575.98px) { 
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        
    }

    @media (max-width: 1199.98px) { 
        height: 10vh;
        margin-bottom: 2rem;
        
    }
    .hover-card{
        width: 100%;
        margin: 1.5rem;

        @media (max-width: 780px) { 
            margin: 0.5rem !important;
        }

        .card{
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row !important;
        margin: 0 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, 0.05);

        @media (max-width: 575.98px) { 
            margin-top: 1rem !important;
        }
        
        .card-img{
            width: 50%;
            margin: 0.5rem;
           
            display: flex;
            justify-content: center;
            cursor: pointer;
            
            
            img{
                width: 5rem;
                height: 5rem;

                @media (max-width: 1199.98px) {
                    width: 4rem !important;
                    height: 4rem !important;
                }
            }
            
            

            
        }

        .card-conten{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .card-data{
                h1{
                    padding: 0rem;
                }
            }
          

        }
        
        }

    }

    .hover-card.one:hover {
        @media (min-width: 1025px) {
            .card{
                padding: 1.5rem;
            }
        }
    }

    .hover-card.two:hover {
        @media (min-width: 1025px) {
            .card{
                padding: 1.5rem;
            }
        }
    }

    .hover-card.three:hover {
        @media (min-width: 1025px) {
            .card{
                padding: 1.5rem;
            }
        }
    }
    }

    .card-chart{
      
        display: flex;
        justify-content: center;
     
    }

//Service
.service-content{
    
    display: flex;
    justify-content: center;
    margin: 4rem 1rem;
    @media (max-width: 767.98px) { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }



        .card{
            width: 18rem;
            margin: 0 2rem;
            border-radius: 0.5rem;

            @media (max-width: 1025px) { 
                margin: 0 1rem;
            }

            

            
            .card-body{
                display: flex;
                flex-direction: column;
                align-items: center;

                a{
                 
                        h6{
                            color: white !important;
                        }
                    
                }
            }
            
            
        }
}
