.warp-chart {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  @media (max-width: 1199.98px) {
    flex-direction: column;
    align-items: center;
  }

  .chart-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem 1rem 1rem;
    margin: 0 2rem 2rem 2rem;

    @media (max-width: 991.98px) {
      margin: 1rem !important;
    }
  }

  .chart-pic {
    margin: 0.5rem 1rem;

    foreignObject {
      .apexcharts-legend.center.position-right {
        position: fixed !important;
        top: 10px !important;
        left: 1px;
      }
      .apexcharts-legend.center.position-right {
        top: 3rem !important;
      }
    }
  }
}

.chart-center {
  margin: 0;
}

.warp-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 2rem;
  margin-top: 3rem;
  .chart-source {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
    text-align: end !important;
    width: auto;

    @media (max-width: 575.98px) {
      text-align: center !important;
    }

    a {
      cursor: pointer;
      h6 {
        cursor: pointer;
        display: contents;
        text-align: end;
        margin-bottom: 0.5rem !important;
      }
    }

    p {
      margin-bottom: 0 !important;
    }
  }
}

//Apexcharts
.apexcharts-legend-text {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-yaxis-label {
  font-family: "Prompt", sans-serif !important ;
  font-size: 0.9rem !important;
}

.apexcharts-xaxis-texts-g {
  text {
    font-size: 1rem;
    tspan {
      font-family: "Prompt", sans-serif !important ;
    }
  }
}

path {
  .apexcharts-bar-area {
    font-size: 5;
  }
}

.apexcharts-tooltip {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-tooltip-title {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-tooltip-series-group {
  font-family: "Prompt", sans-serif !important ;
}
.apexcharts-tooltip-text {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-xaxistooltip-text {
  font-family: "Prompt", sans-serif !important ;
}

//////////////////////////////////////////////////////////////////

//Small
.warp-chart-small {
  display: none;

  @media (max-width: 575.98px) {
    display: flex !important;
  }
}

//Mobile
.warp-chart-mobile {
  display: none;

  @media (min-width: 576px) and (max-width: 767.98px) {
    display: flex !important;
  }
}

//Tablets
.warp-chart-tablets {
  display: none;

  @media (min-width: 768px) and (max-width: 991.98px) {
    display: flex !important;
  }
}

//Desktops
.warp-chart-desktops {
  display: none;

  @media (min-width: 992px) and (max-width: 1199.98px) {
    display: flex !important;
  }
}

//Large
.warp-chart-large {
  display: none;

  @media (min-width: 1200px) {
    display: flex !important;
  }
}
