//Apexcharts
.apexcharts-legend-text {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-yaxis-label {
  font-family: "Prompt", sans-serif !important ;
  font-size: 0.9rem !important;
}

.apexcharts-xaxis-texts-g {
  text {
    font-size: 1rem;
    tspan {
      font-family: "Prompt", sans-serif !important ;
    }
  }
}

path {
  .apexcharts-bar-area {
    font-size: 5;
  }
}

.apexcharts-tooltip {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-tooltip-title {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-tooltip-series-group {
  font-family: "Prompt", sans-serif !important ;
}
.apexcharts-tooltip-text {
  font-family: "Prompt", sans-serif !important ;
}

.apexcharts-xaxistooltip-text {
  font-family: "Prompt", sans-serif !important ;
}

//////////////////////////////////////////////////////////////////