.warp-department{
    min-width: 100%;
    width: auto;
    display: flex;
    justify-content: flex-end;    

    .card-department{
        margin: 0.5rem;
        display: flex;

        .card-img{
            width: 100%;
            display: flex;
            justify-content: center;
            @media (max-width: 767.98px) { 
                flex-direction: column;
                align-items: center;
               
             }

            img{
                cursor: pointer;
                width: 3rem;
                height: 3rem;
                margin: 0.5rem;

                @media (max-width: 1199.98px) { 
                    margin: 2rem ;
                 }

                 @media (max-width: 991.98px) { 
                    width: 1rem;
                    height: 1rem;
                    margin: 0.5rem; 
                 
                 }
            } 

            .img-2{

                    @media (max-width: 991.98px) { 
                        width: 0.5rem;
                        height: 1rem;
                     
                     }
                 }

            .img-3{
                width: 6rem;
                height: 3rem;

                @media (max-width: 991.98px) { 
                    width: 4rem;
                    height: 1rem;
                     
                }
            }

        }
        @media (max-width: 767.98px) { 
            .animated.delay-1s {
                animation-delay: 0;
            }
            .animated {
                animation-duration: 0;
                animation-fill-mode: 0;
            }
            .fadeInDown {
                animation-name: none;
            }
        }
    }
    @media (max-width: 767.98px) { 
        .animated.delay-1s {
            animation-delay: 0;
        }
        .animated {
            animation-duration: 0;
            animation-fill-mode: 0;
        }
        .fadeInDown {
            animation-name: none;
        }
    }

}