.warp-detail {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f3f5f7;

  .page-detail {
    padding: 2rem 1rem 0 1rem !important;

    .container-detail {
      border-radius: 1rem;
      background-color: white;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .item-header {
        width: 50rem;
        padding: 3rem 0;
      }

      .btn-close {
        width: 3rem;
        padding: 1rem;
        .close {
          font-size: 2rem;
          span {
            user-select: none;
          }
        }

        .close:focus {
          outline: none;
        }
      }
    }

    .container-fluid {
      display: flex;
      justify-content: center;
    }
  }
}

.page-content-detail {
  display: flex;
  width: 100%;
  min-height: 30vh;
  height: auto;
  position: relative;
  .container-fluid {
    text-align: center;
    margin-top: 2rem;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 1024px) {
      flex-direction: column !important;
    }

    h2 {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }
    .textarea-center {
      margin: 1rem 2rem;
      text-align: center;

      text {
        margin: 0.7rem 0;
        color: black !important;
      }
    }

    .warp-card {
      .card-group {
        .card {
          box-shadow: 0 0 0 0 !important;

          img {
            width: 5rem;
            height: 5rem;

            @media (max-width: 991.98px) {
              width: 4rem;
              height: 4rem;
            }
          }
        }

        .card:hover {
          box-shadow: 0 0 0 0 !important;
        }
      }
    }
  }

  .container-fluid.non {
    .non {
      display: none;
    }
  }
}



////Service

.container {
  width: 600px;
  margin: 100px auto; 
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  float: left;
  font-size: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 3rem;
  height: 3rem;
  top: 0.5rem;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 20px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
  content: '✔';

}
.progressbar li.active + li:after {
  background-color: #55b776;
}