.warp-detail {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f3f5f7;

  .page-detail {
    padding: 2rem 1rem 0 1rem !important;
   

    .container-detail {
      border-radius: 1rem;
      background-color: white;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .item-header{
        width: 50rem;
        padding: 3rem 0;
      }
    }

    .container-fluid{
      display: flex;
    }

  }
}

.page-content-detail{
  display: flex;
  width: 100%;	
  min-height: 30vh;
  height: auto;
  position: relative;
  .container-fluid{
      text-align:center;
      margin-top: 2rem;
      padding-right: 10px;
      padding-left: 10px;

      @media (max-width: 991.98px) { 
        flex-direction: column !important;
       }
      
      h2{
           margin-top: 1.5rem ;   
           margin-bottom: 2rem;
      }
      .textarea-center{
          margin: 1rem 2rem;
          text-align: center;

          text{
              margin: 0.7rem 0;
              color: black !important;

          }
      }
  }

  
}
