$primary-color: #39b54a !important;

.box-hamberger {
  width: 2.5rem;
  height: auto;

  a.btn{
    padding: 0.5rem;
  }

  a.hamberger {
    position: relative;
    left: 1.5rem;
    top: 1rem;
  }

  .btn.hamberger {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
  }

  span {
    width: 100%;
    border-radius: 3px;
    height: 0.1rem;
    background: $primary-color;
    transition: all 0.3s;
    position: relative;
  }

  span + span {
    margin-top: 6px;
  }

  .active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  .not-active span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
  }

  .active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  .not-active span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
  }

  .active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }

  .not-active span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
  }

  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 8px;
      transform: rotate(0);
    }
    100% {
      top: 8px;
      transform: rotate(45deg);
    }
  }

  @keyframes top-2 {
    0% {
      top: 8px;
      transform: rotate(45deg);
    }
    50% {
      top: 8px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 8px;
      transform: rotate(0);
    }
    100% {
      bottom: 8px;
      transform: rotate(135deg);
    }
  }

  @keyframes bottom-2 {
    0% {
      bottom: 8px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 8px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }

  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
