.warp-index {
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.gm-style-iw-d {
  a {
    h6 {
      font-family: "Prompt", sans-serif;
      margin: 0.2rem 0 !important;
    }
    h6:hover {
      color: red;
    }
  }
}
