.warp-content{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    
    .content{
        width: 100%;
        margin-top: 2rem ;

        text{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

.warp-index{
    height: 100vh;
    background-color: #F5F9FC;

    .content-index{
        width: 100%;
        margin-top: 4rem;

        @media (max-width: 575.98px) { 
            margin-top: 1rem !important;
            
        }

    }
}



