.warp-load{
    width: 100%;
    min-height: 100vh;
    height: auto;

    .load{

        width: 100%;

       img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } 
      
    }

    


}