.warp-main {
  // min-height: 100vh;
  height: auto;

  .page-content-main {
    // padding-left: 150px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 15px;
    transition: all 0.5s;

    @media (max-width: 768px) {
     padding-top: 1rem;
    }

    .container-fluid-main {
      
      @media (max-width: 1224px) {
        margin-left: 0 !important;
        margin-left: 1rem !important;
      }
      width: 100%;
      // margin-left: 150px;
      // margin-right: 1rem;
      margin-top: 2rem;
      padding: 0;

      @media (max-width: 768px) {
        margin-top: 1rem !important;
        margin: 0 !important;
      }

      .info-main {
        display: flex;
        justify-content: center;
        margin-top: 2rem !important;
        margin: 1rem;

        .warp-chart-main {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
          .chart-row {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
          }

          .chart-col{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

.ant-progress-outer{
  padding: 0 0.5rem !important;
}

.ant-progress-text{
  display: none !important;
}

.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 6px;
}

.__react_component_tooltip.type-dark {
  color: black !important;
  background-color: white !important;
}
