.warp-main{
    min-width: 100%;
    width: auto;
    min-height: 100vh;
    height: auto ;
    background-color: #F5F9FC;

        display: flex;
        
        .content-chart {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // min-width: 85%;
            // width: auto;
            position: relative;
            margin-top: 5rem ;
           
        }

    
    
}


//Table
.warp-table{
    display: flex;
    flex-direction: column;

    @media (max-width: 575.98px) { 
        display: none;
    }

    .table-main{
        position: relative;
        margin: 5rem ;
        .react-bs-table-container{

            .react-bs-table{
                background-color: white;
            }

            .react-bs-table-bordered{
                border-radius: 0.2rem 0.2rem 0 0;
                .react-bs-container-header{
                    background-color: #cccccc;
                    border-radius: 0.2rem 0.2rem 0 0;

                    table{
                        
                        thead{

                            tr{
                                th{
                                    text-align: center !important;
                                }
                            }


                        }
                    }
                }

            }
        }
    }
}



//sidebar
.warp-main{
    nav{
        transition:all .5s;
        ul{
            justify-content: flex-start;
        }
    .toggle{
        padding-left:250px;
        }
    }
}

.sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background: #0693e3;
    opacity:0.9;
      transition:all .5s;
      display:flex;
      align-items:center;
  }
  
  /* Main Content */
  .page-content-wrapper{
      display: flex;
      flex-direction: row;
      margin-top: 5rem;
    width: 100%;	
    position: absolute;
    padding:15px;
      transition:all .5s;
  }
  
  .menu-toggle{
      transition:all .3s;
      font-size:2em;
  }
  /* Change the width of the sidebar to display it*/
  .wrapper.menuDisplayed .sidebar-wrapper{
    width:250px;
  }
  
  .wrapper.menuDisplayed .page-content-wrapper{
    padding-left:250px;
  }

  .wrapper.menuDisplayed nav{
    position: fixed;
    margin-left: 250px;
   
  }
  
  /* Sidebar styling */
  .sidebar-nav{
    padding:0;
    list-style:none; 
      transition:all .5s;
      width:100%;
      text-align:center;
  }
  
  .sidebar-nav li{
    line-height:40px;  
      width:100%;
      transition:all .3s;
      padding:10px;
  }
  
  .sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:#ddd;
  }
  
  .sidebar-nav li:hover{
    background:#846bab;
  }
  