.warp-map {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 0 !important;

  @media (max-width: 1199.98px) {
    width: 100%;
  }

  svg {
    width: 400px;
    height: 500px;

    @media (max-width: 575.98px) {
      width: 300px;
      height: 400px;
    }
  }
}

.warp-small-map {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 0 !important;

  svg {
    width: 300px;
    height: 400px;
  }
 
}

.warp-load-map {
  width: 400px;
  height: 500px;
}
