nav {
    display: flex;
    width: 100%;
    
    img{
        width: 4rem;
        height: 3rem;
        margin: 1rem 1rem 0 1.2rem;
    }

    ul{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 10px;

        .warp-manu{
            display: flex;
            flex-direction: row;
            margin-top: 0.5rem;

            li{
                cursor: pointer;
                display: flex;
                padding: 3px 10px;

                p{
                    
                    color: black;
                    padding: 0.5rem;
                    margin: 0.5rem 0.5rem;
                }

                p:hover{
                   
                    color: #bedadc ;
                    padding: 0.5rem;
                    margin: 0.5rem 0.5rem;
                }
                
            }
        }

        p{
            color:#03a9f4;
            padding-top: 1.1rem;
            padding: 0.5rem;
            margin: 0.6rem 0.5rem;
        }
      
            
            
        }
    

    .warp-back{
        display: flex;
        width: 100%;

        ul{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 10px;
    
            .back{
                display: flex;
                flex-direction: row;
                li{
                    display: flex;
                    padding: 3px 10px;
                   p{
                        color: black;
                        margin: 0.5rem 0.5rem;
                    } 
                    p:hover{
                        color: #bedadc;
                        margin: 0.5rem 0.5rem;
                    }
                }
            }
        }

    }
  }


    
    