$font-color: #071d40 !important;
$font-header: "Frank Ruhl Libre" !important;
$font-base: "Prompt", sans-serif;
$primary-color: #39b54a !important;
$bg-color: linear-gradient(to left, #a6d254, #83d2ae);
$border-bg-color: 1px solid #83d2ae;
$line-color: #e8e9fe;

nav {
  width: 100%;
  height: 5rem;
  ul {
    user-select: none;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
}

//Navbar-Scroll
// nav {
//   position: fixed;
//   width: 100%;
//   min-height: 5rem;
//   top: 0;
//   z-index: 1000;
//   ul {
//     user-select: none;
//     padding: 0.5rem;
//     display: flex;
//     justify-content: space-between;
//   }
// }

// nav.scroll {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   z-index: 1000;
//   background-color: greenyellow;
//   transition: background-color 0.4s ease-out;
// }

.warp-main {
  ul {
    cursor: pointer;
    user-select: none;
    margin-left: 0;
    li.hamberger-active {
      padding-left: 250px;
      img {
        width: 4rem;
        height: 2rem;
      }
    }

    li.hamberger-non-active {
      img {
        width: 4rem;
        height: 2rem;
      }
    }
  }
}

.collapsible-menu {
  height: 4rem;
  padding: 1rem 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);

  .warp-nav-sidebar {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;

    h2 {
      font-family: $font-header;
    }
  }

  .menu-content {
    text-align: center;
    max-height: 0;
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;

      li {
        p {
          color: $font-color;
          display: block;
          padding: 10px;
          text-decoration: none;
        }
      }
    }
  }
  .menu-content.show {
    display: block;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    opacity: 1;
    background-color: #b3e5cc;
    visibility: visible;

    nav {
      min-height: 2rem;
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem 1rem;
    }

    ul {
      display: block;
      height: 100vh;
      width: 100%;
      margin-left: 0 !important;
      padding: 0 !important;
      li {
        display: flex;
        flex-direction: column;
        width: 100%;
        h5 {
          margin: 0.5rem !important;
        }
        h5:hover {
          color: $primary-color;
        }
      }
      .menu-content-list {
        height: 100vh;
        margin-top: 2rem;
        a{
          width: 100%;
          margin: 1rem 0;
        }
      }
    }
  }
}

ul {
  margin-left: 4rem;
  user-select: none;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;

  li {
    display: flex;
    align-items: center;

    .btn:focus {
      box-shadow: none;

      p:focus {
        box-shadow: none;
      }
    }
    h2 {
      cursor: pointer !important;
      font-size: 2rem !important;
      padding: 0 1rem !important;
      font-family: $font-header;
    }
    p {
      cursor: pointer;
      color: $font-color;
      margin: 1rem !important;
    }
    p:hover {
      color: $primary-color;
    }

    p.li-buttom-line {
      border: $border-bg-color;
      border-radius: 1.5rem;
      padding: 0.5rem 2rem !important;
      margin: 0 0.5rem 0 2rem !important;
    }

    p.li-buttom-line:hover {
      color: white !important;
      background: $bg-color;
    }

    p.li-buttom-line-active {
      border: $border-bg-color;
      border-radius: 1.5rem;
      padding: 0.5rem 2rem !important;
      margin: 0 1rem 0 0.5rem !important;
      background: $bg-color;
      color: white !important;
    }
    p.li-buttom-line-active:hover {
      margin: 0 1rem 0 0.5rem !important;
      color: $font-color;
      border: $border-bg-color;
      background: white !important;
    }
  }
}

//SideBar
.ant-drawer-wrapper-body {
  user-select: none;
}

.ant-drawer-body {
  p:hover {
    color: $primary-color;
  }
}
