//sidebar
.warp-main {
  nav {
    transition: all 0.5s;
    ul {
      justify-content: flex-start;
    }
    .toggle {
      padding-left: 230px;
    }
  }
}

.sidebar-wrapper {
  @media (max-width: 768px) {
    position: absolute;
  }

  z-index: 1;
  position: fixed;
  width: 0;
  height: 100vh;
  overflow-y: hidden;
  background: white;
  // box-shadow: -4px 0 5px 0 #555;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transition: all 0.5s;
  width: 5rem;

  .sidebar-nav {
    display: none;
  }

  .non-sidebar-nav {
    width: 100%;
    position: absolute;
    top: 4rem;
    padding: 0;
    list-style: none;
    transition: all 0.5s;

    @media (max-width: 768px) {
      top: 1rem !important;
    }

    .icon-sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem;
        cursor: pointer;
      }
      p {
        font-size: 0.7rem !important;
      }
    }
  }

  @media (max-width: 991.98px) {
    display: none;
  }
}

.sidebar-wrapper:hover {
  width: 230px;
  opacity: 1 !important;

  @media (max-width: 768px) {
    width: 210px !important;
  }

  .sidebar-nav {
    cursor: pointer;
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      top: 1rem !important;
    }
  }

  .non-sidebar-nav {
    display: none;
    .icon-sidebar {
      display: none !important;
    }
  }
}

.menu-toggle {
  transition: all 0.3s;
  font-size: 2em;
}
/* Change the width of the sidebar to display it*/
.wrapper.menuDisplayed .sidebar-wrapper {
  width: 230px;

  @media (max-width: 768px) {
    width: 210px !important;
  }

  @media (max-width: 575.98px) {
    width: 100% !important;
  }
  .non-sidebar-nav {
    display: none;
  }
  .sidebar-nav {
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      top: 1rem !important;
    }
  }
}

/* Sidebar styling */
.sidebar-nav {
  padding: 0 !important;
  list-style: none;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
}

.sidebar-nav li {
  display: flex;
  justify-content: flex-start;
  line-height: 40px;
  width: 100%;
  transition: all 0.3s;
  padding: 10px;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.2);
}

.sidebar-nav li img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  // color:#ddd;
  color: black !important;
}

.sidebar-nav li:hover {
  background: #b3cbe5;
  box-shadow: 0 4px 4px -4px #333;
}
