

    .sidebar{
        background-color: white;
        min-height: 100vh;
        height: auto;
        min-width: 12rem;
        max-width: 12rem;
        width: auto;

        .sidebar-list{
            position: absolute;
            min-width: 10rem;
            max-width: 10rem;

            margin: 4rem 0.5rem 0 0.5rem;

            h6{
                
                display: block;
                color: black;
                padding: 1rem;
                text-decoration: none;
                user-select: none;
                text-align: start;
            }

            h6:hover{
                color: #03a9f4;
            }
        }

        @media (max-width: 575.98px) { 
            display: none;
        }
        
    }