.warp-sidebar{
    min-width: 100%;
    width: auto;
    min-height: 100vh;
    height: auto;

    .sidebar{
        background-color: white;
        min-height: 100vh;
        height: auto;
        min-width: 12rem;
        max-width: 12rem;
        width: auto;

        .sidebar-list{
            position: absolute;
            margin: 4rem 1rem 0 1rem;

            a{
                display: block;
                color: black;
                padding: 1rem;
                text-decoration: none;
                user-select: none;
            }

            a:hover{
                color: #03a9f4;
            }
        }

        @media (max-width: 575.98px) { 
            display: none;
        }
        
    }
}